@model A_Hand_2.ViewModels.NewAskTaskViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






    <h3>To start registering your request, please complete the following form:</h3>


    @using (Html.BeginForm("Create", "AskTask"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.AskTask.BasicDescription)
            @Html.TextBoxFor(m => m.AskTask.BasicDescription, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AskTask.FurtherDetail)
            @Html.TextBoxFor(m => m.AskTask.FurtherDetail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AskTask.TaskTypeId)
            @Html.DropDownListFor(m => m.AskTask.TaskTypeId, new SelectList(Model.TaskTypes, "Id", "TaskDesc"), null, new { @class = "form-control" })

        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    }
