@*@model IEnumerable<A_Hand_2.Models.AskTask>*@
@model IEnumerable<A_Hand_2.Models.ApplicationUser>

@{
    ViewBag.Title = "Show Customer Task Request Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks Requested</h2>

@foreach (var item in Model)
{    
    <p>User Name: @item.UserName</p>
    <p style="margin-left: 20px;">Customer Display Name: @item.Customer.DisplayName</p>

    if (item.AskTasks.Count > 0)
    {
        <table class="table table-striped table-hover " style="margin-left: 40px;">
            <thead>
            <tr>
                <th>Task Type</th>
                <th>Basic Description</th>
                <th>Further Description</th>
                <th>Max to pay</th>
                <th>Start Date</th>
                <th>Task Town</th>
            </tr>
            </thead>


            @foreach (var itemAskTask in item.AskTasks)
            {
                <tr>
                    <td>@itemAskTask.TaskType.TaskDesc</td>
                    <td>@itemAskTask.BasicDescription</td>
                    <td>@itemAskTask.FurtherDetail</td>
                    <td>£@itemAskTask.MaxValue</td>
                    <td>@itemAskTask.TaskStartDate</td>
                    <td>@itemAskTask.TaskTown</td>

                </tr>
            }

        </table>
    }
    else
    {
        <p style="margin-left: 40px; font-weight: bold; color: crimson;">No tasks requested yet</p>
    }
    <hr/>
}


   
